html{
    background-image: url(/img/background.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.brand-logo{
    font-family: 'Monoton', cursive;
}

.container-head {
    max-width: 100%; 
    margin-left: 0;
    position: relative;
    text-align: center;
}
.head-center{
    position: absolute;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header{
    font-family: 'Monoton', cursive;
    word-spacing: 15px;
    color: rgb(88, 87, 87);
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;

    padding-top: 40px ;
    height: 100%;
    
    background-color: rgba(139, 97, 55, 0);
}

nav{
    background-color: black ;
}


.collection{
    margin-top: 40px;
}

.card{
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-top: 10px; 
    width: 220px;
    height: 350px;
    background-color: rgba(139, 97, 55, 0);
    border: rgb(153, 104, 25) solid 1px;
    position: relative;

}
#modal2,
#modal1{
    background-color: rgba(139, 97, 55, 0.787);
    border: rgb(153, 104, 25) solid 1px;

}
 

p{
    font-size: 35px;
    color: rgb(192, 189, 189);
    padding-top: 100px;
}

footer {
    background-color: black;
    color: whitesmoke;
}
.text-center {
    text-align: center;
}

li{
    text-align: left;
    color: black;

}

.card-content{
    color: black;
    
}


.deleteBtn{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom:0;
    right: 10px;

}
.salesBtn {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom:0;
    margin-left: 30px;

}
.updateBtn{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom:0;
    left: 10px;

}


.center{
    align-items: center;
}
